page-retail-dash {
    

    #stock {
        background-color:  #1ab2ff;
        color: white;
        opacity: .5;
        padding: 2px;
     
    }

    #sales{
        background-color:  #ac00e6;
        opacity: 0.5;
        color: white;
        padding: 2px;
      
    }

        #retail {
            background-color: #ff6600;
            opacity: 0.5;
            color:white;
           
            padding: 2px;
        }

        #purchase{
            background-color: #4dff4d;
            opacity: 0.5;
            color: white;
         
            padding: 2px;
        }

        #order{
            background-color: #ff1a1a;
            opacity: 0.5;
            color: white;
        ;
            padding: 2px;
        }
  h3, p{
      font-family: Arial, Helvetica, sans-serif
  }

  h3{
      padding-top: 20px;
      padding-bottom: 20px;
  }

}
