page-register {

    .toolbar-background {
        background: transparent;
        border: transparent;
    }

    .scroll-content {
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
    }


}
