page-category {

    .scroll-content {
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

img{
    margin: auto;
    width: 150px;
    height: 150px;
}

}
