page-category {

    .scroll-content {
    align-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}

img{
    margin: auto;
    width: 100px;
    height: 100px;
}

ion-card{
    
    width: 500px;
    height: 200px;
}

}
