page-whole-dash {
    
    .stocks{
        background-color: #ff8c1a;
        opacity: 0.5;
        padding: 3px;
        color:white;
    }
    
    .retailers{
        background-color: #8c1aff;
        opacity: 0.5;
        padding: 3px;
        color: white;
    }
    
    .sales {
        background-color: #00ff00;
        opacity: 0.5;
        padding: 3px;
        color: white;
    }
    
    .orders {
        background-color: #ff0055;
        opacity: 0.5;
        padding: 3px;
        color: white;
    }

}
