page-retail-manual-upload {

    .scroll-content{
        align-content: center;
        justify-content: center
    }

    ion-input.product{
        border-bottom: 3px solid  #32db64,
        ;
    }

    ion-label{
        align-content: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

}
