page-retail-shop {

        img{
            width: 75px;
            height: 75px;
        }
        ion-col {
            align-content: center;
            flex-direction: column;
            justify-content: center;
             text-align: center;
        }
}
