<ion-menu [content] = "content">
    <ion-header>
        <ion-navbar color="primary">
            <ion-title>Welcome Abiola Lockmith</ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-list padding no-lines>
            <ion-item menuClose *ngFor="let page of pages" (click)= "openPage(page)">
                <ion-icon name={{page.icon}} item-start color="cool"></ion-icon>
                {{page.title}}
                <ion-badge *ngIf="page.badge" color="danger" item-end>{{page.badge}}</ion-badge>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
