<ion-menu [content] = "content">
    <ion-header >
        <ion-toolbar color="primary">    
            <div padding>
                <img style="border: 1px solid white; border-radius: 50%; width: 150px; height:150px" src="assets/img/retailer.jpg">
                <h4 style="color:white">Abiola Locksmith</h4>
            </div>
            
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list padding no-lines>
            <ion-item menuClose *ngFor="let page of pages" (click)= "openPage(page)">
                <ion-icon name={{page.icon}} item-start color="cool"></ion-icon>
                {{page.title}}
                <ion-badge *ngIf="page.badge" color="danger" item-end>{{page.badge}}</ion-badge>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
