page-whole-profile {
    
.scroll-content{
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    
}
    
    
}
