page-whole-profile {
    
    .profile {
        position: absolute;
        width: 100%;
        height: 250px;
        background-color: blue;
        opacity: .5;
    }
    
    .head{
        position: relative;
        margin: auto;
        top: 20px;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    img {
        
        border-radius: 50%;
        width: 125px;
        height: 125px;
        margin: auto;
    }  
    
    .body{
        position: absolute;
        top: 250px;
    }
}
