page-whole-store {

    .scroll-content{
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 2px;
    }

    .image {
        width: 75px;
        height: 75px;
    }
    
    ion-col {
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
